// Body
//$body-bg: #39A900 ;



// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family: "Work Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.card-reset {
  background-image: url('../images/fondoBrief4.jpg');
  background-size: cover;
  background-position: center;
}
