/* sidebar */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
    font-family: "Work Sans", sans-serif;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

select {
    cursor: pointer
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* Código para modificar el diseño del botón Inicar sesión desde el correo */

.logInEma:hover {
    background-color: #45a049;
}

.logInEma:active {
    background-color: #3e8e41;
}

/* Código modificación paginación */

.pagination {
    justify-content: flex-end;
    /* Alinea los elementos a la derecha */
}



.page-item.active .page-link {

    /* Cambia el color de fondo del elemento activo */
    border-color: #ffffff;
    /* Cambia el color del borde del elemento activo */
}

.page-link:hover {
    color: #97e1f0;
    /* Cambia el color del texto al pasar el mouse */
    text-decoration: none;
    /* Elimina el subrayado al pasar el mouse */
}

.page-item.disabled .page-link {
    color: #ffffff;
    /* Cambia el color del texto de los elementos deshabilitados */

    /* Cambia el color de fondo de los elementos deshabilitados */
    border-color: #ffffff;
    /* Cambia el color del borde de los elementos deshabilitados */
}

.wrapper {
    display: flex;
}

.main {
    height: 100vh;
    width: 100%;
    transition: all 0.35s ease-in-out;
    overflow-y: auto;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    position: absolute;
    top: 85px;
    right: -36px;
    /* Ajusta el valor según sea necesario */
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border: 0;
}

.toggle-btn img {
    width: 70%;
    height: 70%;
}

.sidebar-logo {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    /* Centra horizontalmente el contenido */
    margin-top: 50px;
    margin-bottom: 20px;
}

.sidebar-logo a {
    color: #fff;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

.sidebar-nav .sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
}

.sidebar-link {
    padding: 0.625rem 1.625rem;
    color: #fff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    text-decoration: none;
}

.hrmenu {
    background: yellow;
    border: none;
    height: 1px;
    width: 80%;
    opacity: 20;
    margin: 0 auto;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: 0.75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

.sidebar-dropdown li {
    margin-left: 35px;
    margin-right: 10px;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-out;
}

#sidebar.expand .textbrief,
#sidebar.expand .textbriefsol {
    display: block;
}

#sidebar:not(.expand) .textbrief,
#sidebar:not(.expand) .textbriefsol {
    display: none;
}

/* estilos index/users */

.index-user {
    background-color: blue;
}

/* ---------------tablas--------------- */
table th {
    text-align: center;
}



.celda__opc-solici {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

}

/* -------------------header----------------------- */

header {
    max-width: 100%;
    max-height: 100px;
    overflow: hidden;
}

.ImgHeader {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* --------------- solicitudes ---------------------- */

.filtros {
    display: flex;
    flex-wrap: wrap;
}

.checkfiltro {
    padding-right: 95px;
    padding-bottom: 20px;
}


.InputText {
    border-radius: 100px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.LabelText {
    margin: 0.2% 0%;
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/* ------------Estilo para el contenedor del checkbox --------------*/
.checkboxSol {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxSol .checkboxSolInp {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}

.check {
    display: block;
    position: relative;
    height: 24px;
    width: 24px;
    border: 2px solid #97e1f0;
    /* Borde exterior azul */
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    flex-shrink: 0;
    /* Añadido para garantizar el modelo de caja border-box */
}

.inner-eye {
    width: 12px;
    height: 12px;
    background-color: #ececec;
    /* Fondo blanco del ojo */
    border-radius: 50%;
}

.checkboxSol .checkboxSolInp:checked+.check .inner-eye {
    background-color: #39a900;
    /* Cambia el color de fondo cuando está marcado */
}

.checkbox-label {
    font-size: 1rem;
    color: #222;
}

/* button */
.btnEnviar {
    color: #00324d;
    border: 2px solid #82def0;
    height: 40px;
    width: 80%;
    max-width: 140px;
    cursor: pointer;
    border-radius: 35px;
    justify-content: center;
    justify-items: center;
    background: #fff;

}


.iBtnBrief {
    color: #642c78;
}

.check__radio-solici {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.check__label-solici {
    padding: 10px;
}

/* ---------------- table form brief ----------- */
.table-formbrief {
    background-color: #dee2e6;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #dee2e6;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('../images/date.png');
    background-size: 100%;
    /* Ajusta el tamaño de la imagen para que se adapte al contenedor */
    background-repeat: no-repeat;
    /* background-position: center; Ajusta la posición para centrar el icono */
    width: 20px;
    /* Ajusta el ancho del icono según necesites */
    height: 20px;
    /* Ajusta la altura del icono según necesites */

    cursor: pointer;
    /* Agrega el cursor de selección */
}

/* --------------------------Politicas ------------------ */

/*---------------- Input : forma de boton ---------------*/

.file {
    display: inline-block;
}

.file-label {
    margin-top: 1%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.form-control-file {
    display: none;
}

/*------------ QR---------------*/
.imgQr {
    display: flex;
}

.ImgQrPoliticas {
    margin: 0 auto;
    max-width: 44%;
    max-height: 44%;
}

/* botones */

/* -----------btn upload image-------------- */
.btnCED {
    color: #000000;
    padding: 8px 12px;
    border: 2px solid #82def0;
    border-radius: 35px;
    display: inline-block;
    background-color: #FFF;
    justify-items: center;
}

.btnCED:hover {
    background-color: #b2ebf2;
}

.iconCDE {
    color: #642c78;
}

.btnCED i {
    margin-right: 5px;
}

/* Estilo para cuando el usuario pasa el ratón sobre el botón */
.file-label:hover .btnCED {
    background-color: #b2ebf2;
}

/*  */

/*----------- Layout properties of the create, return and detail buttons. -----------------*/
.btnCrear {
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnCancelar {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
    vertical-align: -1px;

}

.btnCancelar:hover {
    background-color: #b2ebf2;
}

.btnCrear:hover {
    background-color: #b2ebf2;
}

/* ------------bottom dettale----------- */
.btnDetalle {
    display: inline-block;
    margin: 4px;
    margin: 5px 2px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnEditarEstado {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 15px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnEditarEstado:hover {
    background-color: #b2ebf2;
}

.btnDetalle:hover {
    background-color: #b2ebf2;
}

/*-------------- edit button layout properties------------ */

.btnEdit {
    margin: 4px;
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.iconEdit {
    color: #39a900;
}

.btnEdit:hover {
    background-color: #b2ebf2;
}

/* ------------bottom regresar------------ */
.btnRegresar {
    margin-top: 20px;
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnRegresar:hover {
    background-color: #b2ebf2;
}

/* -----------bottom guardar--------------- */
.btnGuardar {
    margin-top: 10px;
    display: inline-block;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnpdf {

    margin-top: 10px;
    display: inline-block;
    padding: 6px 30px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid transparent;
    cursor: pointer;
    background: transparent;
    margin-bottom: 20px;
    margin-left: 55px;

}

.btnGuardar:hover {
    background-color: #b2ebf2;
}

/* ------------bottom duplicar------------- */
.btnDuplicar {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}


.btnAgregarModificacion {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnAgregarModificacion:hover {
    background-color: #b2ebf2;
}

.custom-btn {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 30px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
    margin-left: 38px;
    width: 265px;

    margin-left: 38px;
    width: 265px;



}

.custom-btn:hover {
    background-color: #b2ebf2;
}

.btnDuplicar:hover {
    background-color: #b2ebf2;
}

/* bottom asiganr */
.btnAsignar {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnAsignar:hover {
    background-color: #b2ebf2;
}

/*----------------- bottom modificar--------------------- */
.btnModificar {
    display: inline-block;
    margin: 5px 5px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnEnviarModificacion {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnEnviarModificacion:hover {
    background-color: #b2ebf2;
}

.btnActualizarestado {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;
}

.btnActualizarestado:hover {
    background-color: #b2ebf2;
}


.btnModificar:hover {
    background-color: #b2ebf2;
}

/* colo de icono de los botones detalle,regresar y crear */
.iconDCR {
    color: #642c78;
    vertical-align: middle;
}

/* Icono comboBox */

.icono {
    cursor: pointer;
}

.btnVerHistorial {
    display: inline-block;
    margin: 5px 0px;
    padding: 6px 20px;
    text-decoration: none;
    color: #00324d;
    border-radius: 35px;
    outline: none;
    border: 2px solid #82def0;
    cursor: pointer;
    background: #fff;

}

.btnVerHistorial:hover {
    background-color: #b2ebf2;
}

/* image */
#qrImage {
    max-width: 44%;
    max-height: 44%;
    margin: 10px;
}

#imageUrl {
    display: inline-block;
    margin-left: 8px;
}

/* ---------------------personalizacion--------------------- */
.logoPersonalizacion {
    display: flex;
}

.ImgCeldaPesonalizacion {
    margin: 0 auto;
    max-width: 44%;
    max-height: 44%;
}

.PersonalizacionColor {
    display: grid;
    text-align: center;
}

.ChildrenPersonalizacion {
    justify-self: center;
    align-self: center;
}

#logoImage {
    max-width: 44%;
    max-height: 44%;
    margin: 10px;
}

/*------------diseño progressbar------------*/

.cardsoli {
    z-index: 2;
    position: relative;
}


.progressbar {
    counter-reset: step;
}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 20% !important;
    position: relative;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #FFF;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    z-index: 2;
    /* Ajustar el z-index para que esté delante del card pero detrás de los círculos */
    background-color: #ddd;
}

.progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
    /* Ajustar el z-index para que esté delante del card pero detrás de los círculos */
}

.progressbar li:first-child::after {
    content: none;
}

/* .progressbar li.active {
    color: #642c78;

} */

.progressbar li.active+li::after {
    background: linear-gradient(to right, #00324d, #39a900);
}

.progressbar li.active::before {
    content: "\2714";
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #642c78; */
    border-color: #FFF;
    /* box-shadow: 0 0 5px rgb(128, 0, 128); */
    border: #FFF;


}




/*-------------Diseño servicios asociados----------------*/
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}



/*DISEÑO AL SWEETALERT*/
/* .swal2-confirm {
    background-color: #39a900 !important;
    color: white !important;

} */

.swal2-popup {
    font-size: 1.6rem !important;
    width: 600px !important;
}

.swal2-popup {
    font-size: 16px !important;
    width: 500px !important;
    border-radius: 20px !important;
    /* Reduciendo el radio del borde */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    /* Agregando una sombra suave */
    background-color: #ffffff;
    /* Cambiando el color de fondo */
    padding: 20px;
    /* Agregando espacio interno */
    color: #333333;
    /* Cambiando el color del texto */
}

.swal2-title {
    font-size: 24px !important;
    /* Cambiando el tamaño del título */
    color: #333333;
    /* Cambiando el color del título */
}

.swal2-content {
    font-size: 18px !important;
    /* Cambiando el tamaño del contenido */
    color: #666666;
    /* Cambiando el color del contenido */
}

.swal2-actions {
    display: flex;
    justify-content: center;
}

.swal2-actions .swal2-confirm {
    color: #ffffff;
    /* Cambiando el color del texto del botón de confirmación */
    border: none;
    /* Quitando el borde */
    padding: 10px 20px;
    /* Ajustando el relleno */
    margin: 0 10px;
    /* Agregando margen entre botones */
    border-radius: 5px;
    /* Agregando un pequeño radio de borde */
}

.swal2-actions .swal2-cancel {
    background-color: #ffffff;
    /* Cambiando el color de fondo del botón de cancelar */
    color: #333333;
    /* Cambiando el color del texto del botón de cancelar */
    border: 1px solid #cccccc;
    /* Agregando un borde al botón de cancelar */
    padding: 10px 20px;
    /* Ajustando el relleno */
    margin: 0 10px;
    /* Agregando margen entre botones */
    border-radius: 5px;
    /* Agregando un pequeño radio de borde */
}

/* Agregando estilos para el botón de cierre */
.swal2-close {
    color: #999999;
    font-size: 24px;
}

/* -------------------restablecer contraseña-----------------*/

.reset {
    border-radius: 20px;
    width: 77%;
    margin-left: 8%;
    height: 80%;
    padding: 4%;
    padding-top: 14%;
    text-align: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    display: block;
}

.titulo {
    color: #00324d;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-block-start: 16px;
    margin-block-end: 37px;

}

.resetpass {
    background-image: url('/images/fondoBrief4.jpg');
    /* Ruta de la imagen */
    ;
}

/* .sidebar-link.active {
    color: yellow;
} */


.invalid-feedback {
    color: #642c78;
}

/*card home*/
.icon {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: white;
    line-height: 50px;
    text-align: center;

    font-size: 20px;
}

.icon-lg {
    width: 60px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}

.icon-shape {
    border-radius: 50px;
}

.bg-gradient-success {
    background-color: #00324d;
}

.bg-gradient-dark {
    background-color: #642c78;
}

.bg-gradient-info {
    background-color: #39a900;
}

.border-radius-xl {
    border-radius: 0.75rem;
}

.mt-n4 {
    margin-top: -1.5rem;
}

.position-absolute {
    position: absolute;
}

.text-end {
    text-align: end;
}

.text-sm {
    font-size: 0.875rem;
}

.titulosoli {
    color: #00324d;
    font-size: 17px;
    font-weight: 600;
}

.total-color {
    color: #00324d;
    font-weight: 600;
}

.numero-color {
    color: #39a900;
}

.card-solit {
    border-bottom: #ffffff;
}

.card-title {
    font-size: 16px;
    color: red;
}


/* table pdf resportes */
@page {
    margin: 3cm 1.5cm 3cm 1.5cm;
}

.pdf-header {
    position: fixed;
    top: -2cm;
    /* Ajusta la posición para que el encabezado esté en la parte superior de la página */
    left: 0;
    bottom: 2cm;
    width: 100%;
    height: 60px;
    /* Ajusta según sea necesario */
}

.container__header-title {
    display: inline-block;
    /* Convertir en bloque en línea */
    vertical-align: middle;
    /* Alinear verticalmente */
}

.img-header {
    display: inline-block;
    /* Convertir en bloque en línea */
    vertical-align: middle;
    /* Alinear verticalmente */
    margin-left: auto;
    padding-left: 300px;
    /* Empujar la imagen hacia el extremo derecho */
}



.img-header .img__header-pdf {
    width: 240px !important;
    height: 70px !important;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

.container__table-pdf {
    margin-top: 40px;
}

.table-pdf {
    border-collapse: collapse;
    width: 100%;
    font-size: 1em;
    border-radius: 18px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: "Work Sans", sans-serif;


}

.table-pdf tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-pdf td,
.table-pdf th {
    border: 1px solid #ddd;
    padding: 6px 8px;

}

.table-pdf tr:nth-child(even) {
    background-color: #f2f2f2;
}






@media screen and (max-width: 769px) {
    .btnDetalle {
        display: block;
        margin: 3px;
        /* Corregido: especifica el valor completo del margen */

    }

    .btnEdit {
        display: block;
        margin: 3px;
        /* Corregido: especifica el valor completo del margen */

    }

    .btnDuplicar {
        display: block;

        margin: 0;
    }

    .btnModificar {
        display: block;
        margin: 5px 5px;
        font-size: 0.9em;
    }

    .btnCrear {
        display: block;
        margin: 3px !important;
        padding: 6px !important;
        text-decoration: none;
        color: #00324d;
        border-radius: 35px;
        outline: none;
        border: 2px solid #82def0;
        cursor: pointer;
        background: #fff;
    }

    .btnGuardar {
        margin-top: 10px;
        display: inline-block;
        padding: 3px 1px;
        text-decoration: none;
        color: #00324d;
        border-radius: 35px;
        outline: none;
        border: 2px solid #82def0;
        cursor: pointer;
        background: #fff;
    }

    .iconDCR {
        vertical-align: middle;
    }

    .btnAsignar {
        display: block;

        margin: 3px 2px;
        /* Corregido: solo especifica el margen una vez */
        font-size: 10px;
    }

    header {
        max-width: 100%;
        max-height: 20vh;
        overflow: hidden;
    }

    .checkfiltro {
        max-width: 100%;
        max-height: 20vh;
    }
}



@media(max-width:30em) {

    * {
        font-size: 16px !important;
    }

    .main {
        height: 100vh;
        width: 100%;
        transition: none;
        position: relative;
    }

    #sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    #sidebar.expand {
        width: 260px;
        min-width: 260px;
        position: fixed;
        z-index: 2;
    }

    .toggle-btn {
        position: absolute;
        top: 85px;
        right: -36px;

    }

    .celda__opc-solici {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;


    }






    .search-Header {
        display: flex !important;
        flex-wrap: wrap !important;
        align-items: flex-start !important;
        width: 100%;
    }

    .inputSearch {
        margin: 5px 0;
        width: 100% !important;
    }

    .sidebar-link {
        overflow: hidden;
    }

    header {
        max-width: 100%;
        max-height: 20vh;
        overflow: hidden;
    }

    table {
        width: 100%;
    }

    table tr {
        display: flex;
        flex-direction: column;
        border: 4px solid #ececec;

        margin-bottom: 1em;

    }

    table thead {
        display: none;
    }

    table td[data-titulo] {
        display: flex;
    }

    table td[data-titulo]::before {
        padding: 0;
        margin: 0;
        content: attr(data-titulo);
        width: 150px;

    }

    table td,
    table th {
        border: none;
        outline: none;
    }

    /*response vista detalle*/
    .cardsoli {
        z-index: 2;
        position: relative;
    }

    .progressbar {
        counter-reset: step;
    }

    .progressbar li {
        list-style-type: none;
        float: left;
        width: 20% !important;
        position: relative;
        text-align: center;
        font-size: 10px !important;
        font-weight: bold;
    }

    .progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 38px;
        line-height: 35px;
        border: 2px solid #FFF;
        display: block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        z-index: 2;
        /* Ajustar el z-index para que esté delante del card pero detrás de los círculos */
        background-color: #ddd;
    }

    .progressbar li::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 7px;
        background-color: #ddd;
        top: 15px;
        left: -50%;
        z-index: -1;
        /* Ajustar el z-index para que esté delante del card pero detrás de los círculos */
    }

    .progressbar li:first-child::after {
        content: none;
    }

   

    .progressbar li.active+li::after {
        background: linear-gradient(to right, #00324d, #39a900);
    }

    .progressbar li.active::before {
        content: "\2714";
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        /* background-color: #642c78; */
        border-color: #FFF;
        /* box-shadow: 0 0 5px rgb(128, 0, 128); */
        border: #FFF;


    }

  

    .imgProgress {
        max-width: 50px !important;
        object-fit: cover;
        margin-block-start: 20px !important;
        margin-right: 80% !important;
    }

    .imgProgress1 {
        max-width: 50px !important;
        object-fit: cover;
        margin-block-start: 20px !important;
        margin-left: 50% !important;
    }

    .imgProgress2 {
        max-width: 50px !important;
        object-fit: cover;
        margin-block-start: 20px !important;
        margin-right: -5% !important;
    }

    .imgProgress3 {
        max-width: 50px !important;
        object-fit: cover;
        margin-block-start: 20px !important;
        margin-left: -80% !important;
    }

    .imgProgress4 {
        max-width: 25px !important;
        margin-block-start: 30px !important;
        object-fit: cover;
        margin-left: -35% !important;
    }

    .imgProgress5 {
        max-width: 50px !important;
        object-fit: cover;
        margin-block-start: 20px !important;
        margin-left: -50% !important;
    }

    /* botones de las vistas */

    .btnDetalle {
        display: inline-block;
    }

    .btnEdit {
        display: inline-block;
    }

    .btnVerHistorial {
        display: block;
        margin: 3px 0px !important;
        padding: 2px 10px;
        text-decoration: none;
        color: #00324d;
        border-radius: 35px;
        outline: none;
        border: 2px solid #82def0;
        cursor: pointer;
        background: #fff;
        margin-left: 20% !important;
    }

    .btnRegresar {
        margin-top: 20px;
        display: block;
        margin: 3px 0px !important;
        padding: 2px 10px;
        text-decoration: none;
        color: #00324d;
        border-radius: 35px;
        outline: none;
        border: 2px solid #82def0;
        cursor: pointer;
        background: #fff;
        margin-left: -50% !important;
    }

}