* {
    font-family: "Work Sans", sans-serif;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* PROPERTIES REGISTER */



.text-wel {
    display: flex;
    flex-direction: column;
    margin-left: 30px;


}

/* PROPERTIES SIDEBAR - COLORS, SIZES AND IMAGES */

.img-perfil {
    width: "auto";
    height: 80px;
    margin-block-start: 55px;
}

.textbrief {
    color: white;
    font-weight: 900;
    font-size: 50px;

}



.hrmenu {
    margin-block-start: 2px;
    background: yellow;
    border: none;
    height: 1px;
    width: 80%;
    opacity: 20;
    margin-left: 20px;
}

.txtSoli {
    margin-left: 37px;
}

.flecha {
    margin-block-start: 65px;
    margin-left: -40px;
    height: 40px;
    width: 20px;
    position: sticky;
}

/* PROPERTIES CITIES */

/* PROPERTIES SIDEBAR - BUTTONS, FUNCTIONS, ETC (OVERALL) */

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;

}




#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    width: 60px;
    margin-right: -60px;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}


#sidebar:not(.expand) .img-perfil,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) .textbrief,
#sidebar:not(.expand) .textbriefsol {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    /* background-color: red; */
    margin-top: 110px;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 1px solid transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin-block-start: -10px;

}

a.sidebar-link2 {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 1px solid transparent;
    cursor: auto;
    /* background-color: aqua; */
    text-align: center;
    align-items: center;
    align-content: center;

}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link2 i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link [data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}



#sidebar.expand .sidebar-link [data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}









/* estilos index/users */

.index-user {
    background-color: blue;
}


/* --------------- solicitudes ---------------------- */

.InputText {
    border-radius: 100px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.LabelText {
    margin: 0.2% 0%;
    padding: 10px;
}


/* Estilo para el contenedor del checkbox */
.checkboxSol {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkboxSol .checkboxSolInp {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}

.check {
    position: relative;
    height: 24px;
    width: 24px;
    border: 2px solid #97e1f0;
    /* Borde exterior azul */
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    /* Añadido para garantizar el modelo de caja border-box */
}

.inner-eye {
    width: 12px;
    height: 12px;
    background-color: #ececec;
    /* Fondo blanco del ojo */
    border-radius: 50%;
}

.checkboxSol .checkboxSolInp:checked+.check .inner-eye {
    background-color: #39A900;
    /* Cambia el color de fondo cuando está marcado */
}

.checkbox-label {
    font-size: 1rem;
    color: #222;
}





/* button */
.btnEnviar {
    color: #00324D;
    border: 2px solid #82DEF0;
    height: 40px;
    width: 100%;
    max-width: 180px;
    cursor: pointer;
    border-radius: 35px;
    justify-content: center;
    justify-items: center;
    background: #fff;

}

.iBtnBrief {
    color: #642c78;
}


/* -------- table form brief ---- */
.table-formbrief {
    background-color: #DEE2E6;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: #dee2e6
}


/* --------------------------Politicas ------------------ */

/* Input : forma de boton */

.file{
    display: inline-block;
}
.file-label {
    margin-top: 1%;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.form-control-file {
    display: none;
}

.file-button {
    color: #000000;
    padding: 8px 12px;
    border: 2px solid #82DEF0;
    border-radius: 35px;
    display: inline-block;
    height: 40px;
    width: 150px;
    justify-items: center;
}

.fa-image {
    color: #642c78;

}



.file-button i {
    margin-right: 5px;
}

/* Opcional: Estilo para cuando el usuario pasa el ratón sobre el botón */
.file-label:hover .file-button {
    background-color: #b2ebf2;
}


/* image */
#qrImage{
    max-width: 44%; 
    max-height:44%; 
    margin: 10px;
      
}
#imageUrl{
    display: inline-block;
    margin-left: 8px;
}






