*{
    font-family: "Work Sans", sans-serif;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

/* PROPERTIES REGISTER */



.text-wel{
    display: flex;
    flex-direction: column;
    margin-left: 30px;

  
}

/* PROPERTIES SIDEBAR - COLORS, SIZES AND IMAGES */

.img-perfil{
    width: "auto";
    height: 80px;
    margin-block-start: 55px;
}

.textbrief{
    color: white;
    font-weight: 900;
    font-size: 50px;
    
}

.textbriefsol{
    color: yellow;
    margin-block-start: -15px;
}

.hrmenu{
    margin-block-start: 2px;
    background: yellow;
    border: none;
    height: 1px;
    width: 80%;
    opacity: 20;
    margin-left: 20px;
}

.txtSoli{
    margin-left: 37px;
}

.flecha{
    margin-block-start: 65px;
    margin-left: -40px;
    height: 40px;
    width: 20px;
    position: sticky;
}

/* PROPERTIES CITIES */

/* PROPERTIES SIDEBAR - BUTTONS, FUNCTIONS, ETC (OVERALL) */

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    
}


#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background: linear-gradient(to bottom,#39A900, #274244 );
    display: flex;
    flex-direction: column;
  
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    width: 60px;
    margin-right: -60px;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}


#sidebar:not(.expand) .img-perfil,
#sidebar:not(.expand) a.sidebar-link span,
#sidebar:not(.expand) .textbrief,
#sidebar:not(.expand) .textbriefsol{
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
    /* background-color: red; */
    margin-top: 110px;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 1px solid transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    margin-block-start: -10px;
    
}

a.sidebar-link2 {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: flex;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 1px solid transparent;
    cursor: auto;
    /* background-color: aqua; */
    text-align: center;
    align-items: center;
    align-content: center;
    
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

.sidebar-link2 i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link [data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}



#sidebar.expand .sidebar-link [data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

/* register css */

.primeraPalabraFlex{
    color: #39A900;
    font-weight:900;
   
}

.segundaPalabraFlex{
    margin-right: 10px;
    color: #26344c ;
}

/* welcome div */



.welcoRe{
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;

}
.supereh{
    font-weight:600;
    color: #39A900;
}
.adminreh{
    font-weight:600;
    color: #26344c;
 
}
.RedTcenopa{
    font-weight:800;
    color: #39A900;
}

/* estilos index/users */

.index-user{
    background-color: blue;
}


/* solicitudes */

.solicitudInputText{
    background: #FFF ;
    border-radius: 10px;
    border: 2px solid  #fff ;
    padding: 10px 5px;
    width: 100%;
}

.solicitudesDivText{
    padding: 10px;
}


/* checkbox */

.checkboxSol{
    position: relative;
    font-size: 1rem;
    color:#222;
    display: block;
    padding-left: 45px;
    margin-bottom: .55em;
    cursor: pointer;
}

.checkboxSol .checkboxSolInp{
    position: relative;
    height: 0;
    width: 0;
    cursor: pointer;
}

.check{
    position: absolute;
    height: 25px;
    width: 25px;
    border: 2px solid #e7e7e7;
    border-radius:50%;
    top:0;
    left:0;
}
.checkboxSol:hover .checkboxSolInp 