
body {
    background-image: url('');
    background-size: cover;
}
/* styles.css */

/* Estilos para el formulario de inicio de sesión */
.card_login {
    background-color: rgba(50, 158, 4, 0.856);
    border-radius: 10px;
    width: 500px ;
    height: 700px;
    padding: 20px;
    padding-top: 70px;
    margin-block-start: 100px ;
    text-align: center;
    justify-items: center;
    justify-content: center;
    
}
col-md-6{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;

}


.card-header {
    background-color: #04AA6D;
    color: white;
    font-weight: bold;
}
.card-body {
    align-items: center;
}




.btn-primary {
    background-color: #00324D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #038c5a;
}

.titulo{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  color: #ffffff;
  

}


.subtitulo{
    color: #f1e53d;
    text-align: center;
}
.logo{
    width: 100px;
    height: 100px;
}

/* Personaliza otros elementos según tus necesidades */

/* Asegúrate de cargar este archivo CSS en tu HTML */
